{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>

  {% if error %}
    {{error}}
    {% endif %}

<form method="POST" action="{% url 'accounts:login' %}">
  {% csrf_token %}

  {% if request.GET.next %}
      <input type="hidden" name="next" value={{request.GET.next}} />
  {% endif  %}
     <h2>insert username:</h2>
 <input type="text" name="username" />
 <br>
     <h2>password</h2>
 <input type="password" name="password" /> <br><br>
 <input type="submit" name="submit" value="sign up"/>

</form>

{% endblock%}
